.mainNav{
    display: flex;
    justify-content: space-evenly;
    background-color:  #f8a9a9;
}

.navItems {
    text-decoration: none;
    color: white;
    font-size: 18pt;
    margin-top: 22pt;
}

.logo {
    height: 80px;
}