.serviceTest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.serviceTitle {
    text-align: center;
    margin-top: 40pt;
    margin-bottom: 70pt;
}

.marketing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.marketingPic {
    height: 700px;
    
}

.marketingTitle {
    text-align: center;
}

.photo {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-bottom: 40pt
}

.photoPic {
    height: 700px;
}

.photoTitle {
    text-align: center;
}

.business {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40pt;
    padding: 20px;
}

.businessPic {
    height: 700px;
    
}

.businessTitle {
    text-align: center;
}
