.title {
    text-align: center;
}

.heroPic {
    height: 70vh;
    opacity: 0.7;
    background-image: url('https://www.mcfinneganphotography.com/uploads/9/1/6/0/91608040/background-images/819065628.jpg')
}

.secondSection {
    /* background-color: skyblue; */
    width: 100vw;
    height: 700pt;
    /* margin-top: 20vh */
}

.secondTitle {
    margin-top: 30pt;
    text-align: center;
}

.servicesTitle {
    text-align: center;
    margin-top: 100pt
}

.homePics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20pt;

}

.gridPics {
    height: 200px;
    margin: auto;
}